/* --- Fonts --- */

* {
  font-family: "Roboto", sans-serif;
  color: whitesmoke;
}

h1,
h2,
h3,
.h1,
.h2,
.h3,
h4,
.h4,
h5,
.h5 {
  font-family: "Righteous", cursive;
}

/* --- Colors --- */

.color-whiteS {
  color: whitesmoke !important;
}
.bg-dark {
  background-color: rgb(33, 37, 41);
}
.color-azzurro {
  color: #03a9f4 !important;
}
.color-blacks {
  color: rgb(30, 33, 36);
}
.text-green {
  color: rgb(0, 255, 0);
}
.text-red {
  color: rgb(255, 0, 0);
}
.text-size {
  font-size: 5rem;
}
.text-size1 {
  font-size: 4rem;
}
